{% extends 'base.html' %}

{% block title %}
  Add Blog
{% endblock %}
{% block add_blogs_active %}
  active
{% endblock %}

{% block css %}

{% endblock %}
{% block body %}
  <form action="/add_blogs/" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form.media }}
    <div class="form-group">{{ form.title.label_tag }}
      {{ form.title }}</div>
    <div class="form-group">{{ form.slug.label_tag }}
      {{ form.slug }}</div>
    <div class="form-group">{{ form.content.label_tag }}
      {{ form.content }}</div>
    <div class="form-group">{{ form.image.label_tag }}
      {{ form.image }}</div>
    <button class="btn btn-primary">Add Blog</button>
  </form>
{% endblock %}
{% block js %}
  {% if alert %}
    <script>
      alert('Your Blog is added successfully.')
      document.location = '/'
    </script>
  {% endif %}
{% endblock %}
